## Required Codio Assignment 1.3: Selecting Data in Multiple Ways

**Expected Time: 45 Minutes**

**Total Points: 20 Points**

In this assignment, you will practice selecting data using `loc[]`, `iloc[]`, and `split`.

## Index:

- [Part 1](#Part-one)
- [Part 2](#Part-two)
- [Part 3](#Part-three)

In [1]:
import pandas as pd

[Back to top](#Index:) 

## Part one

### Using `loc[]` to select data

**2 Points each**

In this part of the assignment, return the required information from the `data` DataFrame using the `loc[]` method.

In [2]:
#create the DataFrame utilizing Pandas 
data = pd.read_csv('data/nba.csv')
data = data.iloc[:-1 , :]
data.head(5)

,Unnamed: 0,Name,Team,Position,Height,College,Number,Age,Weight,Salary
0,0,Avery Bradley,Boston Celtics,PG,6-2,Texas,0.0,25.0,180.0,7730337.0
1,1,Jae Crowder,Boston Celtics,SF,6-6,Marquette,99.0,25.0,235.0,6796117.0
2,2,John Holland,Boston Celtics,SG,6-5,Boston University,30.0,27.0,205.0,0.0
3,3,R.J. Hunter,Boston Celtics,SG,6-5,Georgia State,28.0,22.0,185.0,1148640.0
4,4,Jonas Jerebko,Boston Celtics,PF,6-10,NaN,8.0,29.0,231.0,5000000.0

Use the `loc[]` method to retrieve the first row of the `data` DataFrame and assign the result to the `locinfo` variable.

In [3]:
### GRADED


locinfo = None

### BEGIN SOLUTION
locinfo = data.loc[0]
### END SOLUTION

# ANSWER CHECK
print(locinfo)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Position                  PG
Height                   6-2
College                Texas
Number                   0.0
Age                     25.0
Weight                 180.0
Salary             7730337.0
Name: 0, dtype: object

Use the `loc[]` method on the `data` DataFrame to retrieve the information about LeBron James' `Name` and `Team`. Assign the result to the `teamdata` variable.

In [4]:
### GRADED


teamdata = None

### BEGIN SOLUTION
teamdata = data.loc[data.Name == 'LeBron James', 'Name':'Team']
### END SOLUTION

# ANSWER CHECK
print(teamdata)

             Name                 Team
169  LeBron James  Cleveland Cavaliers

[Back to top](#Index:) 

## Part two

### Using `iloc[]` to select data

In this part of the assignment, return the required information from the `data` DataFrame using the `iloc[]` method.

**2 Points each**

Use the `iloc[]` method to retrieve the first row of the `data` DataFrame and assign the result to the `fr` variable.

In [5]:
### GRADED

fr = None

### BEGIN SOLUTION

fr = data.iloc[0]

### END SOLUTION

# ANSWER CHECK
print(fr)

Unnamed: 0                 0
Name           Avery Bradley
Team          Boston Celtics
Position                  PG
Height                   6-2
College                Texas
Number                   0.0
Age                     25.0
Weight                 180.0
Salary             7730337.0
Name: 0, dtype: object

Use the `iloc[]` method to retrieve the second row of the `data` DataFrame and assign the result to the `sr` variable.

In [6]:
### GRADED


sr = None

### BEGIN SOLUTION

sr =  data.iloc[1]

### END SOLUTION

# ANSWER CHECK
print(sr)

Unnamed: 0                 1
Name             Jae Crowder
Team          Boston Celtics
Position                  SF
Height                   6-6
College            Marquette
Number                  99.0
Age                     25.0
Weight                 235.0
Salary             6796117.0
Name: 1, dtype: object

Use the `iloc[]` method to retrieve the last row of the `data` DataFrame and assign the result to the `lr` variable.

In [7]:
### GRADED


lr = None

### BEGIN SOLUTION

lr =  data.iloc[-1] 

### END SOLUTION

# ANSWER CHECK
print(lr)

Unnamed: 0             455
Name          Tibor Pleiss
Team             Utah Jazz
Position                 C
Height                 7-3
College                NaN
Number                21.0
Age                   26.0
Weight               256.0
Salary           2900000.0
Name: 455, dtype: object

Use the `iloc[]` method to retrieve the first column of the `data` DataFrame and assign the result to the `fc` variable.

In [8]:
###GRADED

 
fc = None

### BEGIN SOLUTION

fc =  data.iloc[:,0] 

### END SOLUTION

# ANSWER CHECK
print(fc)

0        0
1        1
2        2
3        3
4        4
      ...
451    451
452    452
453    453
454    454
455    455
Name: Unnamed: 0, Length: 456, dtype: int64

Use the `iloc[]` method to retrieve the second column of the `data` DataFrame and assign the result to the `sc` variable.

In [9]:
### GRADED


sc = None

### BEGIN SOLUTION

sc =  data.iloc[:,1]

### END SOLUTION

# ANSWER CHECK
print(sc)

0      Avery Bradley
1        Jae Crowder
2       John Holland
3        R.J. Hunter
4      Jonas Jerebko
           ...
451    Chris Johnson
452       Trey Lyles
453     Shelvin Mack
454        Raul Neto
455     Tibor Pleiss
Name: Name, Length: 456, dtype: object

Use the `iloc[]` method to retrieve the last column of the `data` DataFrame and assign the result to the `lc` variable.

In [10]:
### GRADED


lc = None

### BEGIN SOLUTION

lc =  data.iloc[:,-1] 

### END SOLUTION

# ANSWER CHECK
print(lc)

0      7730337.0
1      6796117.0
2            0.0
3      1148640.0
4      5000000.0
         ...
451     981348.0
452    2239800.0
453    2433333.0
454     900000.0
455    2900000.0
Name: Salary, Length: 456, dtype: float64

In [11]:
### BEGIN HIDDEN TESTS
lc1 =  data.iloc[:,-1]
assert type(lc) == type(lc1)
lc == lc1

### END HIDDEN TESTS

0      True
1      True
2      True
3      True
4      True
       ...
451    True
452    True
453    True
454    True
455    True
Name: Salary, Length: 456, dtype: bool

[Back to top](#Index:) 

## Part three

### Using `split()` to select data

In this part of the assignment, return the required information from the `data` DataFrame using the `split()` function.

**2 Points each**

In this exercise, use the `split()` function to return the first name of the first player in the `data` DataFrame. Assign the result to the variable `firstname`.

In [12]:
### GRADED



firstname = None

### BEGIN SOLUTION

firstname = data['Name'].str.split().str[0].iloc[0]

### END SOLUTION

# ANSWER CHECK
print('The first name is ' + firstname)

The first name is Avery

In this exercise, use the `split()` function to return the last name of the first player in the `data` DataFrame. Assign the result to the variable `lastname`.

In [13]:
###GRADED

# Please print the last full name of the first series in the data frame.

lastname = None

### BEGIN SOLUTION
lastname =  data['Name'].str.split().str[1].iloc[0]
### END SOLUTION

# ANSWER CHECK
print('The last name is ' + lastname)

The last name is Bradley